<!--
 * Created in PhpStorm
 * @date 1/24/2020
 * @version 1.0
 * form2.html
 * GreenRiverDev
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colors</title>
</head>
<body>
    <form method ="Post" action ="results">
        <label>
            Color:
            <select name='color'>
                <option>Pick a Color</option>
                <option>Red</option>
                <option>Yellow</option>
                <option>Blue</option>
                <option>Green</option>
            </select>
            <button type ="submit">Submit</button>
        </label>
    </form>
</body>
</html>